body {
    font-family: 'Courier New', Courier, monospace;
    background: url('fotos/fondo.png') repeat; /* Repetici칩n del fondo */
    background-size: 100px 100px; /* Tama침o en miniatura */
    background-attachment: fixed;
    opacity: 5.9; /* Semitransparencia */
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(255, 215, 0, 0.9); /* Fondo amarillo con transparencia */
    text-align: center;
    padding: 1em;
    animation: fadeIn 2s ease-in-out;
}
h1 {
    color: #333;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 60px; /* Espacio para el bot칩n flotante */
}
.slide {
    background: rgba(255, 249, 196, 0.9) no-repeat center center;
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 1em 0;
    padding: 2em;
    width: 80%;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}
.slide img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta la altura m치xima de la imagen */
}
.slide p {
    margin-top: 1em;
    font-size: 1.2em;
    color: #333;
}
.slide.active {
    opacity: 1;
    transform: translateY(0);
}
#nextBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}
#nextBtn:hover {
    background-color: #ffca28;
}
footer {
    background-color: rgba(255, 215, 0, 0.9); /* Fondo amarillo con transparencia */
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    animation: fadeIn 2s ease-in-out;
}
